.customSelect{
  background-color: #f5f5f5;
  border-radius: 10px;
}

.customSelect:hover{
  background-color: #f5f5f5;
}

option{
  color: red
}

option::hover{
  background-color: red;
  border-radius: 10px;
}